
BASIC_MODEL:
  base_url: "https://generativelanguage.googleapis.com/v1beta/openai/"
  model: "gemini-2.0-flash"
  api_key: api_key

BASIC_MODEL:
  base_url: "http://localhost:11434/chat/v1"
  model: "gemma3:1b"
  api_key: api_key